# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.vs/PeladaFC/v14
/API/obj/Debug
/DomainModel/obj/Debug
/InfraEstrutura/obj/Debug
/API/bin/Debug
/DomainModel/bin/Debug
/InfraEstrutura/bin/Debug
/packages/AutoMapper.5.0.2
/packages
/Amf.PeladaFC.APITests/bin/Debug
/Amf.PeladaFC.APITests/obj
/API/bin/Release
/API/obj/Release
/DomainModel/bin/Release
/DomainModel/obj/Release
/InfraEstrutura/bin/Release
/InfraEstrutura/obj/Release
/Amf.PeladaFC.APITests/bin/Release/Amf.Framework.dll
/Amf.PeladaFC.APITests/bin/Release/Amf.Framework.pdb
/Amf.PeladaFC.APITests/bin/Release/Amf.PeladaFC.API.pdb
/Amf.PeladaFC.APITests/bin/Release/Amf.PeladaFC.API.dll
/Amf.PeladaFC.APITests/bin/Release/Amf.PeladaFC.APITests.pdb
/Amf.PeladaFC.APITests/bin/Release/Amf.PeladaFC.APITests.dll
/Amf.PeladaFC.APITests/bin/Release/MySql.Data.xml
/Amf.PeladaFC.APITests/bin/Release/MySql.Data.Entity.EF6.xml
/Amf.PeladaFC.APITests/bin/Release/MySql.Data.Entity.EF6.dll
/Amf.PeladaFC.APITests/bin/Release/MySql.Data.dll
/Amf.PeladaFC.APITests/bin/Release/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/Amf.PeladaFC.APITests/bin/Release/Microsoft.AspNet.Identity.EntityFramework.xml
/Amf.PeladaFC.APITests/bin/Release/Microsoft.AspNet.Identity.EntityFramework.dll
/Amf.PeladaFC.APITests/bin/Release/Microsoft.AspNet.Identity.Core.xml
/Amf.PeladaFC.APITests/bin/Release/Microsoft.AspNet.Identity.Core.dll
/Amf.PeladaFC.APITests/bin/Release/EntityFramework.xml
/Amf.PeladaFC.APITests/bin/Release/EntityFramework.dll
/Amf.PeladaFC.APITests/bin/Release/AutoMapper.xml
/Amf.PeladaFC.APITests/bin/Release/AutoMapper.dll
/Amf.PeladaFC.APITests/bin/Release/Amf.PeladaFC.Infraestrutura.pdb
/Amf.PeladaFC.APITests/bin/Release/Amf.PeladaFC.Infraestrutura.dll
/Amf.PeladaFC.APITests/bin/Release/Amf.PeladaFC.DomainModel.pdb
/Amf.PeladaFC.APITests/bin/Release/Amf.PeladaFC.DomainModel.dll
/.vs/config
/API/bin
/WSPeladaFC/bin
/WSPeladaFC/Content
/WSPeladaFC/obj
